body {
    background-color:mediumseagreen;
}

.panel{
    height: 500px;
    width: 500px;
    background-color: aquamarine;
}

.intro{
    height: 100px;
    width: 100px;
    background-color: aqua;
    text-align: center;
}